@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: theme('colors.amber.400');
  --silver: theme('colors.slate.400');
  --bronze: theme('colors.amber.700');
  --topTenGreen: theme('colors.lime.400');
  --season8: theme('colors.green.600');
  --season7: theme('colors.indigo.500');
  --season6: theme('colors.emerald.500');
  --season5: theme('colors.orange.400');
  --season4: theme('colors.red.400');
  --season3: theme('colors.sky.500');
  --season2: theme('colors.purple.400');
  --season1: theme('colors.stone.500');
  --season8trans: rgb(22, 163, 74, 0.2);
  --season7trans: rgba(99, 102, 241, 0.2);
  --season6trans: rgba(16, 185, 129, 0.2);
  --season5trans: rgb(251, 146, 60, 0.2);
  --season4trans: rgb(248, 113, 113, 0.2);
  --season3trans: rgb(14, 165, 233, 0.2);
  --season2trans: rgb(192, 132, 252, 0.2);
  --season1trans: rgb(120, 113, 108, 0.2);
  --easyCourse: theme('colors.orange.400');
  --hardCourse: theme('colors.blue.700');
  --wmgYellow: #f8ff71;
  --wmgBrown: #38280e;
  --sh-basic: 2px 2px 6px rgba(0, 0, 0, 0.35), 3px 3px 6px rgba(0, 0, 0, 0.25);
  --sh-insetbasic: inset 2px 2px 5px #00000075, inset -2px -2px 5px #00000020;
  /* --sh-wmgYellowSm: inset 11px 11px 9px #c1c758, inset -11px -11px 9px #ffff8a80; */
  --sh-wmgYellowSm: inset 6px 6px 12px #abb04e, inset -6px -6px 12px #ffff94;
  --sh-wmgYellowLg: inset 12px 12px 24px #b8bd54, inset -12px -12px 24px #ffff8e80;
  --sh-wmgBrown: inset 12px 12px 14px #1e1608, inset -12px -12px 18px #473212;
  /* --sh-wmgBrown: inset 6px 6px 12px #271c0a, inset -6px -6px 12px #493412; */
  --sh-fiveUnder: inset 6px 6px 12px #13338c, inset -6px -6px 12px #2769ff;
  --sh-condor: inset 7px 7px 14px #497dbe, inset -7px -7px 14px #77cdff;
  --sh-ace: inset 6px 6px 12px #8f1919, inset -6px -6px 12px #ff3333;
  --sh-redLight: inset 9px 9px 8px #ba5555, inset -9px -9px 8px #ff8d8d;
  --sh-overPar: inset 6px 6px 12px #32510a, inset -6px -6px 12px #68a714;
  --sh-gold: inset 6px 6px 6px #ad8419, inset -6px -6px 6px #fffa2f;
  --sh-silver: inset 6px 6px 6px #66707f, inset -6px -6px 6px #c2d6f1;
  --sh-bronze: inset 6px 6px 6px #7c3906, inset -6px -6px 6px #ec6d0c;
  --sh-topTenGreen: inset 6px 6px 6px #709f25, inset -6px -6px 6px #d6ff45;
  --sh-season8: inset 6px 6px 6px #0f7033, inset -6px -6px 6px #1dd661;
  --sh-season8-out: 5px 5px 10px #0f6d32, -5px -5px 10px #1dd962;
  --sh-season7: inset 6px 6px 6px #37309e, inset -6px -6px 6px #675cff;
  --sh-season6:inset 6px 6px 6px #036848, inset -6px -6px 6px #07c58a;
  --sh-season5: inset 6px 6px 12px #ad6529, inset -6px -6px 12px #ffbf4f;
  --sh-season4: inset 6px 6px 12px #ab4e4e, inset -6px -6px 12px #ff9494;
  --sh-season3: inset 6px 6px 12px #0a72a1, inset -6px -6px 12px #12d8ff;
  --sh-season2: inset 6px 6px 12px #845bae, inset -6px -6px 12px #fcadff;
  --sh-season1: inset 6px 6px 12px #534e4b, inset -6px -6px 12px #9d948d;
  --sh-easyCourse: inset 6px 6px 12px #ad6529, inset -6px -6px 12px #ffbf4f;
  --sh-hardCourse: inset 6px 6px 12px #143695, inset -6px -6px 12px #2666ff;
  --ace: theme('colors.red.600');
  --condor: theme('colors.blue.400');
  --fiveUnder: theme('colors.blue.700');
  --underPar: theme('colors.red.400');
  --overPar: theme('colors.lime.700');
}

body {
  width: 100%;
  max-width: 100vw;
  background-color: white;
}

.dark-mode {
  background-color: black;
}

.app-container {
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
}

/* ***** WMG YELLOWS ***** */
.bg-wmgYellow {
  background-color: var(--wmgYellow);
}
.brdr-wmgYellow {
  border-color: var(--wmgYellow);
}
.sh-wmgYellowSm {
  box-shadow: var(--sh-wmgYellowSm);
}
.sh-wmgYellowLg {
  box-shadow: var(--sh-wmgYellowLg);
}
.cl-wmgYellow {
  color: var(--wmgYellow);
}
/* ***** WMG BROWN ***** */
.bg-wmgBrown {
  background-color: var(--wmgBrown);
}
.brdr-wmgBrown {
  border-color: var(--wmgBrown);
}
.sh-wmgBrown {
  box-shadow: var(--sh-wmgBrown);
}
.cl-wmgBrown {
  color: var(--wmgBrown);
}

/* ******************************** */
/* ******** PODIUM CLASSES ******** */
/* ******************************** */

/* ***** GOLD ***** */
.bg-gold {
  background-color: var(--gold);
}
.bg-sh-gold {
  background-color: var(--gold);
  box-shadow: var(--sh-gold);
}
.sh-gold {
  box-shadow: var(--sh-gold);
}
.brdr-gold {
  border-color: var(--gold);
}
.bgfade-gold {
  background: linear-gradient(to left, var(--gold), rgba(0, 0, 0, 0));
}
/* ***** SILVER ***** */
.bg-silver {
  background-color: var(--silver);
}
.bg-sh-silver {
  background-color: var(--silver);
  box-shadow: var(--sh-silver);
}
.brdr-silver {
  border-color: var(--silver);
}
.bgfade-silver {
  background: linear-gradient(to left, var(--silver), rgba(0, 0, 0, 0));
}
/* ***** BRONZE ***** */
.bg-bronze {
  background-color: var(--bronze);
}
.bg-sh-bronze {
  background-color: var(--bronze);
  box-shadow: var(--sh-bronze);
}
.brdr-bronze {
  border-color: var(--bronze);
}
.bgfade-bronze {
  background: linear-gradient(to left, var(--bronze), rgba(0, 0, 0, 0));
}
/* ***** TOP TEN ***** */
.bg-topTenGreen {
  background-color: var(--topTenGreen);
}
.bg-sh-topTenGreen {
  background-color: var(--topTenGreen);
  box-shadow: var(--sh-topTenGreen);
}
.brdr-topTenGreen {
  border-color: var(--topTenGreen);
}
.bgfade-topTenGreen {
  background: linear-gradient(to left, var(--topTenGreen), rgba(0, 0, 0, 0));
}

/* ******************************** */
/* ***** SEASON COLOR CLASSES ***** */
/* ******************************** */

/* ***** SEASON 8 COLORS ***** */
.bg-sh-s8 {
  background-color: var(--season8);
  box-shadow: var(--sh-season8);
}
.bg-s8 {
  background-color: var(--season8);
}
.brdr-s8 {
  border-color: var(--season8);
}
.cl-s8 {
  color: var(--season8);
}
.bgfade-s8 {
  background: linear-gradient(to left, var(--season8), rgba(0, 0, 0, 0));
}
.bg-trans-s8 {
  background-color: var(--season8trans);
}
.sh-out-s8 {
  box-shadow: var(--sh-season8-out);
}

/* ***** SEASON 7 COLORS ***** */
.bg-sh-s7 {
  background-color: var(--season7);
  box-shadow: var(--sh-season7);
}
.bg-s7 {
  background-color: var(--season7);
}
.brdr-s7 {
  border-color: var(--season7);
}
.cl-s7 {
  color: var(--season7);
}
.bgfade-s7 {
  background: linear-gradient(to left, var(--season7), rgba(0, 0, 0, 0));
}
.bg-trans-s7 {
  background-color: var(--season7trans);
}

/* ***** SEASON 6 COLORS ***** */
.bg-sh-s6 {
  background-color: var(--season6);
  box-shadow: var(--sh-season6);
}
.bg-s6 {
  background-color: var(--season6);
}
.brdr-s6 {
  border-color: var(--season6);
}
.cl-s6 {
  color: var(--season6);
}
.bgfade-s6 {
  background: linear-gradient(to left, var(--season6), rgba(0, 0, 0, 0));
}
.bg-trans-s6 {
  background-color: var(--season6trans);
}

/* ***** SEASON 5 COLORS ***** */
.bg-sh-s5 {
  background-color: var(--season5);
  box-shadow: var(--sh-season5);
}
.bg-s5 {
  background-color: var(--season5);
}
.brdr-s5 {
  border-color: var(--season5);
}
.cl-s5 {
  color: var(--season5);
}
.bgfade-s5 {
  background: linear-gradient(to left, var(--season5), rgba(0, 0, 0, 0));
}
.bg-trans-s5 {
  background-color: var(--season5trans);
}

/* ***** SEASON 4 COLORS ***** */
.bg-sh-s4 {
  background-color: var(--season4);
  box-shadow: var(--sh-season4);
}
.bg-s4 {
  background-color: var(--season4);
}
.brdr-s4 {
  border-color: var(--season4);
}
.cl-s4 {
  color: var(--season4);
}
.bgfade-s4 {
  background: linear-gradient(to left, var(--season4), rgba(0, 0, 0, 0));
}
.bg-trans-s4 {
  background-color: var(--season4trans);
}

/* ***** SEASON 3 COLORS ***** */
.bg-sh-s3 {
  background-color: var(--season3);
  box-shadow: var(--sh-season3);
}
.bg-s3 {
  background-color: var(--season3);
}
.brdr-s3 {
  border-color: var(--season3);
}
.cl-s3 {
  color: var(--season3);
}
.bgfade-s3 {
  background: linear-gradient(to left, var(--season3), rgba(0, 0, 0, 0));
}
.bg-trans-s3 {
  background-color: var(--season3trans);
}

/* ***** SEASON 2 COLORS ***** */
.bg-sh-s2 {
  background-color: var(--season2);
  box-shadow: var(--sh-season2);
}
.bg-s2 {
  background-color: var(--season2);
}
.brdr-s2 {
  border-color: var(--season2);
}
.cl-s2 {
  color: var(--season2);
}
.bgfade-s2 {
  background: linear-gradient(to left, var(--season2), rgba(0, 0, 0, 0));
}
.bg-trans-s2 {
  background-color: var(--season2trans);
}

/* ***** SEASON 1 COLORS ***** */
.bg-sh-s1 {
  background-color: var(--season1);
  box-shadow: var(--sh-season1);
}
.bg-s1 {
  background-color: var(--season1);
}
.brdr-s1 {
  border-color: var(--season1);
}
.cl-s1 {
  color: var(--season1);
}
.bgfade-s1 {
  background: linear-gradient(to left, var(--season1), rgba(0, 0, 0, 0));
}
.bg-trans-s1 {
  background-color: var(--season1trans);
}


/* ******************************** */
/* ******* SCORECARD COLORS ******* */
/* ******************************** */
.ace {
  background-color: var(--ace);
  box-shadow: var(--sh-ace);
  border-color: var(--ace);
}
.fiveUnder {
  background-color: var(--fiveUnder);
  box-shadow: var(--sh-fiveUnder);
  border-color: var(--fiveUnder);
}
.brdr-fiveUnder {
  border-color: var(--fiveUnder);
}
.bg-condor {
  background-color: var(--condor);
  box-shadow: var(--sh-condor);
}
.brdr-condor {
  border-color: var(--condor);
}
.bg-underPar {
  background-color: var(--underPar);
  box-shadow: var(--sh-redLight);
}
.brdr-underPar {
  border-color: var(--underPar);
}
.brdr-overPar {
  border-color: var(--overPar);
}
.bg-overPar {
  background-color: var(--overPar);
  box-shadow: var(--sh-overPar);
}
.sh-redLight {
  box-shadow: var(--sh-redLight);
}

/* ******************************** */
/* *** EASY / HARD COURSE COLOR *** */
/* ******************************** */
.cl-easyCourse {
  color: var(--easyCourse);
}
.brdr-easyCourse {
  border-color: var(--easyCourse);
}
.bg-easyCourse {
  background-color: var(--easyCourse);
}
.sh-easyCourse {
  box-shadow: var(--sh-easyCourse);
}
.cl-hardCourse {
  color: var(--hardCourse);
}
.brdr-hardCourse {
  border-color: var(--hardCourse);
}
.bg-hardCourse {
  background-color: var(--hardCourse);
}
.sh-hardCourse {
  box-shadow: var(--sh-hardCourse);
}

/* ******************************** */
/* ************ BASICS ************ */
/* ******************************** */
.sh-basic {
  box-shadow: var(--sh-basic);
}
.sh-insetbasic {
  box-shadow: var(--sh-insetbasic);
}

/* ******************************** */
/* ********** ANIMATIONS ********** */
/* ******************************** */
.flip {
  animation: flip 4000ms linear infinite;
  -webkit-animation: flip 4000ms linear infinite;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
